name: drawingapp
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.8.1

dependencies:
  flutter:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  camera: ^0.10.5+9
  image_picker: ^1.0.7
  wakelock: 0.6.2


flutter:
  uses-material-design: true
  assets:
    - assets/
